@font-face {
    font-family: 'MyFont';
    src: url('shabnam.ttf') format('truetype');
}

body {
    font-family: MyFont;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

.container {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    text-align: center;
}

.error {
    color: red;
    color: red;
    margin-top: 10px;
}



.input-container {
    display: flex;
    flex-direction: column;
}

    .input-container input {
        padding: 10px;
        padding-left: 20px;
        border: 1px solid black;
        border-radius: 10px;
        margin-bottom: 10px;
    }

    .input-container button {
        padding: 10px;
        border: none;
        background-color: turquoise;
        color: white;
        border-radius: 10px;
        cursor: pointer;
    }

        .input-container button:hover {
            opacity: 0.5
        }

.chat-container {
    width: 100%;
    max-width: 85%;
    margin: auto;
    background: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    padding: 20px;
}

.messages {
    height: 450px;
    overflow-y: auto;
    border: 1px solid black;
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 10px;
}

.message {
    margin-bottom: 10px;
}

.username {
    font-weight: bold;
}



@media (min-width: 600px) {
    .input-container {
        flex-direction: row;
    }

        .input-container input {
            margin-bottom: 0;
            margin-right: 5px;
            flex: 1;
        }

    .content {
        border: 1px solid #ccc;
        border-radius: 8px;
        background-color: #e9ecef;
    }
}
