@font-face {
    font-family: 'MyFont';
    src: url('shabnam.ttf') format('truetype');
}

body {
    font-family: MyFont;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
}

.container {
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 400px;
    text-align: center;
    position:relative;
    margin:auto
}
.login {
    background: white;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding:20px
}

input[type="password"], input[type="text"] {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    position: center
}

button {
    padding: 10px 15px;
    background-color: turquoise;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 20%;
}

    button:hover {
        opacity: 0.5
    }

#infoContainer {
    display: none;
    margin-top: 20px;
    text-align: left;
}

a {
    text-align: center;
    color: turquoise;
    text-decoration: none;
}

    a:hover {
        opacity: 0.5
    }
